<h2>
    Admin
</h2>
<ul>
    <li routerLink="dashboard" (click)="toggleDropdown()">
        <span class="material-symbols-outlined"> account_circle </span>
            <span>
                <a href="#" routerLink="/dashboard">Dashboard</a>
            </span>
    </li>
        
    <div>
        @if (showDropdown) {

            <select (change)="onSelect($event)" id="dropdown"  >
                <option value="">Select</option>
                <option value="PieChart" >PieChart</option>
                <option value="BarChart">BarChart</option>
                <option value="LineChart">LineChart</option>
             </select>
            
        }
    </div>
    @if (pie) {
        <div>

            <div id="pieh">
                <p>PieChart:</p>
            </div>
            
            <div class="piei">
                <input type="text" [(ngModel)]="labels" class="pieinput" placeholder="Enter the labels">
                <input type="number" [(ngModel)]="dataValue"  class="pieinput" value="Enter the data">
            </div>
    
            <div class="pieb">
                <button (click)="addData()" id="add">Add Data</button>
            </div>
        </div>
        
    }

   
    @if (bar) {
        <div>
            <div id="pieh">
                <p>BarChart:</p>
            </div>
            <div class="piei">
                <input type="text" [(ngModel)]="labels" class="pieinput" placeholder="Enter the label">
                <input type="number" [(ngModel)]="salesValue" class="pieinput" placeholder="Enter sales data">
                <input type="number" [(ngModel)]="prodValue" class="pieinput" placeholder="Enter production data">
            </div>
            <div class="pieb">
                <button (click)="addData1()" id="add">Add Data</button>
            </div>
        </div>
    }
    
    
    
    
    
</ul>


