:host{
    display: block;
    width: 250px;
    height: 100%;
    padding: 0.5rem;
    overflow: hidden;
}
h2{
    width: 200px;
    text-align: center;
    margin: 0.5rem auto 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 5px 5px 7px rgb(239, 237, 237),-5px -5px 7px rgb(239, 237, 237);

}
h2:hover{
    cursor: pointer;
    background-color: rgb(239, 237, 237);
}
ul{
    li{
        border: 1px solid black;
        padding: 0.5rem;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        display: flex;
        gap: 0.5rem;
    }
}
li:hover{
    cursor: pointer;
    background-color: rgb(239, 237, 237);
}
