<h2>Admin</h2>
<ul>
    <li routerLink="dashboard" (click)="toggleDropdown()">
        <span class="material-symbols-outlined"> account_circle </span>
        <span>
            <a href="#" routerLink="/dashboard">Dashboard</a>
        </span>
    </li>
        
    <!-- Dropdown Container -->
    <div class="dropdown-container" *ngIf="showDropdown">
        <select (change)="onSelect($event)" id="dropdown">
            <option value="">Select</option>
            <option value="PieChart">PieChart</option>
            <option value="BarChart">BarChart</option>
            <option value="LineChart">LineChart</option>
        </select>
    </div>

    <!-- Pie Chart Inputs -->
    <div *ngIf="selectedChart === 'PieChart'" class="chart-inputs">
        <div class="chart-header">
            <p>PieChart:</p>
        </div>
        <div class="input-group">
            <input type="text" [(ngModel)]="labels" class="input" placeholder="Enter the labels">
            <input type="number" [(ngModel)]="dataValue" class="input" placeholder="Enter the data">
        </div>
        <button (click)="pieData()" class="add-button">Add Data</button>
    </div>

    <!-- Bar Chart Inputs -->
    <div *ngIf="selectedChart === 'BarChart'" class="chart-inputs">
        <div class="chart-header">
            <p>BarChart:</p>
        </div>
        <div class="input-group">
            <input type="text" [(ngModel)]="labels" class="input" placeholder="Enter the labels">
            <input type="number" [(ngModel)]="salesValue" class="input" placeholder="Enter sales value">
            <input type="number" [(ngModel)]="prodValue" class="input" placeholder="Enter product value">
        </div>
        <button (click)="BarData()" class="add-button">Add Data</button>
    </div>

    <!-- Line Chart Inputs -->
    <div *ngIf="selectedChart === 'LineChart'" class="chart-inputs">
        <div class="chart-header">
            <p>LineChart:</p>
        </div>
        <div class="input-group">
            <input type="text" [(ngModel)]="labels" class="input" placeholder="Enter the labels">
            <input type="number" [(ngModel)]="newdata" class="input" placeholder="Enter new data">
        </div>
        <button (click)="lineData()" class="add-button">Add Data</button>
    </div>
</ul>